.homePage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1024px) {
    .homePage {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .homePage {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 540px) {
    .homePage {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 420px) {
    .homePage {
        grid-template-columns: 1fr;
    }
}