.cart__item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item__price {
    display: flex;
    align-items: center;
}

.cart__item__delete__icon {
    margin-left: 5px;
    cursor: pointer;
}